@import "tailwindcss";

@theme {
  --color-planetary: #334EAC;
  --color-venus: #BAD6EB;
  --color-universe: #7096D1;
  --color-meteor: #F7F2EB;
  --color-galaxy: #081F5C;
  --color-milkyway: #FFF9F0;
  --color-sky: #D0E3FF;
}

/* Custom Scrollbar untuk Matriks */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #BAD6EB; /* Warna Venus */
  border-radius: 20px;
}